* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  margin: 0;
  /* Adicionado para remover margens padrão do corpo da página */
}

#cabecalho {
  text-align: center;
  padding: 20px;
  color: #fff;
}

#logo-iceller {
  height: 10%;
  margin: 0 auto;
}

#logo-iceller img {
  height: 60px;
}

#menu-container {
  text-align: center;
}

#menu-container nav,
#menu-container button,
#menu-container div {
  display: inline-block;
  margin-right: 30px;
}

#menu-container nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#botao-pesquisa,
#botao-sacola,
#botao-usuario {
  border: none;
  padding: 0;
  margin: 10px;
  text-align: left;
}

#botao-pesquisa img,
#botao-sacola img,
#botao-usuario img {
  height: 35px;
}

#login-usuario,
#botao-sacola,
#botao-pesquisa {
  vertical-align: middle;
}

/* content que contem os formulários */
#content {
  width: 500px;
  margin: 0px auto;
  position: relative;
  min-height: 100%;
}

/* formatando o cabeçalho dos formulários */
h1 {
  font-size: 48px;
  color: black;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
  margin-bottom: 15px;
}

p:first-child {
  margin: 0px;
}

label {
  color: #405c60;
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
}

input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b2;

  -webkit-border-radius: 3px;
  border-radius: 3px;

  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"] {
  width: 100% !important;
  cursor: pointer;
  background: black;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #333;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  transition: all 0.2s linear;
}

input[type="submit"]:hover {
  background: #4ab3c6;
}


#contato {
  position: absolute;
  top: 50px;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 5px;
  box-shadow: 5px;
  border-radius: 5px;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

#btnLogout {
  background-color: black;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

#userInfoSection h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 5px;

}

#userInfoSection {
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black; 
}

label {
  margin-right: 300px;
}

#nome, #email, #assunto, #mensagem{
  margin-bottom: 10px;
}

#mensagem {
  margin-bottom: 20px;
  text-align: left;
  border-radius: 10px;
  width: 95%;
  height: 200px;
  padding: 3%;
}

#mensagemModalDiv {
  padding: 20px;
  background-color: lightgray;
  border-radius: 6px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

#tituloModal {
  margin-top: 25px;
}

#btnConfirm {
  background-color: lightgreen;
  color: black;
  border: none;
  padding: 13px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  margin-top: 20px;
  width: 176px;
}

#btnCancel {
  background-color: indianred;
  color: black;
  border: none;
  padding: 13px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  margin-top: 20px;
  width: 176px;
}

/* Estilo para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

#closeModal2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal-content h2 {
  margin-bottom: 10px;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

#rodape {
  margin-top: 50%;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}